<template>
  <button class="cursor-pointer box-inline text-red text-underdot" @click="showModal = true">Заказать обратный звонок</button>
  <modal :show.sync="showModal"></modal>
</template>

<script>
	import modal from './modal.vue';
	export default {
		components: {
			modal: modal
		},
		data() {
			return {
				showModal: false
			}
		}
	}
</script>
