<template>
	<validator name="validation">
		<form novalidate v-on:submit.prevent="onSend">
			<div class="mhbspace-10 text-left" >
				<label for="person">Имя <span class="text-red">*</span></label>
				<input
					class="col-12 model-border divider divider-around pspace-5"
					v-bind:class="{ 'has-error': $validation.person.required, 'has-success': !$validation.person.required }"
					id="person"
					v-model="person"
					type="text"
					v-validate:person="['required']"
				/>
			</div>
			<div class="mhbspace-10 text-left" >
				<label for="phone">Телефон <span class="text-red">*</span></label>
				<input
					class="col-12 model-border divider divider-around pspace-5"
					v-bind:class="{ 'has-error': $validation.phone.tel, 'has-success': !$validation.phone.tel }"
					id="phone"
					v-model="phone"
					type="tel"
					v-validate:phone="['tel']"
					placeholder="+7 123 123-4567"
				/>
			</div>
			<div class="mhbspace-10 text-left" >
				<label for="time">Удобное время звонка (по Москве)</label>
				<input
					class="col-12 model-border divider divider-around pspace-5"
					id="time"
					v-model="time"
					type="time"
				/>
			</div>
			<div class="mhbspace-10 text-left" >
				<label for="email">E-mail</label>
				<input
					class="col-12 model-border divider divider-around pspace-5"
					id="email"
					v-model="email"
					type="email"
				/>
			</div>
			<button
				class="btn col-5 pvspace-5 phspace-10 bg-red radius-3 text-white cursor-pointer box-center"
				type="submit" v-show="$validation.valid" :disabled="!$validation.valid">Отправить</button>
		</form>
	</validator>
</template>

<script>
	export default {
		methods: {
			onSend() {
				this.$http
					.post('http://pay.interskol.ru/callback/send/', this.$data, {emulateJSON: true})
					.then(response => {
						this.$parent.show = false;
					})
			}
		},
		data() {
			return {
				person: '',
				phone: '',
				time: '',
				email: ''
			}
		}
	}
</script>

<style scoped>
	[type="submit"] {
		opacity: 1;
		transition: opacity 0.3s ease;
	}
	[type="submit"][style*="display: none;"] {
		display: block !important;
		opacity: 0.3;
	}
</style>
